<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <connectionStrings>
    <add name="ConnectionStringDnevni"
      connectionString="Data Source=SQL6009.site4now.net;Initial Catalog=DB_A3119B_pwa;User Id=DB_A3119B_pwa_admin;Password=#pwapwa1;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
